<!-- ------------------------------------------------ Welcome Section ------------------------------------------------ -->

<section class="Welcome" id="mission">
    <img
        src="assets/layout/images/GestionRobex/Start-img-v3.jpg"
        alt="start-img"
        class="start-img"
    />

    <div class="black-background">
        <h1 class="test text-900 font-bold text-8xl text-center">
            Des aménagements solides, un service d’exception, pour des espaces
            durables
        </h1>
    </div>
</section>
<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->

<!-- ------------------------------------------------ About Section ------------------------------------------------ -->

<section class="about">
    <div class="grid grid-nogutter surface-section text-800">
        <div
            class="mobile-padding col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
        >
            <section>
                <h1 class="block font-bold mb-1">
                    À propos de
                    <span class="text-primary font-bold">nous</span>
                </h1>

                <p class="mt-0 mb-4">
                    Gestion Robex Inc est une entreprise fondée par 2 jeunes
                    entrepreneurs dynamiques, qui sont réunis par un objectif
                    commun : votre satisfaction. Œuvrant dans la région du Grand
                    Montréal, nous offrons plusieurs services se divisant en 2
                    grandes catégories: l’aménagement paysager et les abris
                    temporaires.
                </p>
                <p class="mt-0 mb-4">
                    Cumulant plus de 7 ans d’expérience au niveau résidentiel,
                    commercial et municipal , nous sommes outillés pour répondre
                    à tous vos projets. De la conception complète d’un
                    aménagement paysager à la simple restauration de ce dernier,
                    aucun détail ne sera laissé au hasard. Notre devise est bien
                    simple: Des aménagements solides, un service d’exception,
                    pour des espaces durables.
                </p>
            </section>
        </div>
        <div class="col-12 md:col-6 overflow-hidden img-container-hidden">
            <img
                src="assets/layout/images/GestionRobex/About-v3.jpg"
                alt="Image"
                class="md:ml-auto block heightIMG"
            />
        </div>
    </div>
</section>
<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->

<!-- ------------------------------------------------ Pourquoi Section  ------------------------------------------------ -->

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-5xl">
        <h1 class="text-900">
            Pourquoi
            <span class="text-primary-500">nous choisir</span>
        </h1>
    </div>

    <div class="custom-card-position">
        <div class="flex-section">
            <div class="card-container">
                <div class="flex align-items-center custom-card">
                    <span
                        class="p-3 shadow-2 inline-block surface-card icon-container"
                        style="border-radius: 10px"
                    >
                        <i class="pi pi-hammer text-4xl icon-custom-color"></i>
                    </span>
                    <p class="">Solidité et durabilité</p>
                </div>
            </div>
            <div class="card-container">
                <div class="flex align-items-center custom-card">
                    <span
                        class="p-3 shadow-2 inline-block surface-card icon-container"
                        style="border-radius: 10px"
                    >
                        <i class="pi pi-shop text-4xl icon-custom-color"></i>
                    </span>
                    <p>
                        Respect des normes et standards les plus élevés de
                        l’industrie
                    </p>
                </div>
            </div>
        </div>

        <div class="flex-section">
            <div class="card-container">
                <div class="flex align-items-center custom-card">
                    <span
                        class="p-3 shadow-2 inline-block surface-card icon-container"
                        style="border-radius: 10px"
                    >
                        <i
                            class="pi pi-sparkles text-4xl icon-custom-color"
                        ></i>
                    </span>
                    <p>Service professionnel et impeccable</p>
                </div>
            </div>

            <div class="card-container">
                <div class="flex align-items-center custom-card">
                    <span
                        class="p-3 shadow-2 inline-block surface-card icon-container"
                        style="border-radius: 10px"
                    >
                        <i class="pi pi-receipt text-4xl icon-custom-color"></i>
                    </span>
                    <p>Garanties offertes</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->

<!-- ------------------------------------------------ Details Section ------------------------------------------------ -->

<section class="Service">
    <div class="surface-ground px-4 md:px-6 text-center">
        <div class="mb-3 font-bold text-5xl">
            <h1 class="text-900">
                Nos <span class="text-primary-500">services </span>
            </h1>
        </div>

        <div class="grid container-info">
            <div class="col-12 lg:col-6">
                <a routerLink="amenagement" class="service-item">
                    <img
                        src="assets/layout/images/GestionRobex/Amenagement-img.JPG"
                        alt="Aménagement image"
                        class="service-image"
                    />
                    <div class="service-title-background">
                        <h2 class="title-section">Aménagement</h2>
                    </div>
                </a>
            </div>

            <div class="col-12 lg:col-6">
                <a routerLink="abris" class="service-item">
                    <img
                        src="assets/layout/images/GestionRobex/Abris-img.JPG"
                        alt="Abris image"
                        class="service-image"
                    />
                    <div class="service-title-background">
                        <h2 class="title-section">Abris</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->

<!-- ------------------------------------------------ Étape Section ------------------------------------------------ -->
<section class="Why-us px-4 py-8 md:px-6">
    <app-timelinedemocomponent></app-timelinedemocomponent>
</section>
<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->
