<section class="layout-footer">
    <footer>
        <div class="footer-position">
            <!-- Section Contact Us -->
            <div
                class="text-center w-full md:w-6/12 flex-col items-center justify-center py-5"
            >
                <h3 class="font-bold">Nous Contacter</h3>
                <p>
                    Téléphone 1: <a href="tel:+438-377-3924 ">438-377-3924</a>
                </p>
                <p>Téléphone 2: <a href="tel:+514-452-965">514-452-9657</a></p>
                <p>
                    Email:
                    <a href="mailto:gestionrobexinc@gmail.com"
                        >gestionrobexinc&#64;gmail.com</a
                    >
                </p>
            </div>

            <div class="bar-hidden">
                <p-divider layout="vertical" class="!hidden md:!flex"
                    ><b></b
                ></p-divider>
            </div>

            <!-- Section Nos Fournisseurs -->
            <div
                class="text-center w-full md:w-6/12 flex-col items-center justify-center py-5"
            >
                <h3 class="font-bold">Suivez- nous sur les réseaux sociaux</h3>
                <div class="icons-group">
                    <a
                        href="https://www.instagram.com/gestion_robex_inc/"
                        target="_blank"
                        ><i class="pi pi-instagram" style="font-size: 2rem"></i
                    ></a>
                    <a
                        href="https://www.facebook.com/people/Gestion-Robex-Inc/61572543321416/"
                        target="_blank"
                        ><i class="pi pi-facebook" style="font-size: 2rem"></i
                    ></a>
                </div>
            </div>
        </div>
    </footer>
</section>
